---
import CourseCard from "./CourseCard.astro";
import { content } from "../data/content";
---

<style>
    .timeline-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: clamp(320px, 1024px, 70vw);
        margin: 0 auto;
    }

    .timeline-row {
        display: grid;
        grid-template-columns: 3rem 1fr;
        gap: 2rem;
    }

    .timeline-node-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 1.5rem;
    }

    .timeline-node-container::after {
        content: "";
        position: absolute;
        top: 4rem;
        bottom: -3rem;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        background: linear-gradient(
            to bottom,
            var(--gameface-cyan),
            transparent
        );
        z-index: 0;
    }

    .timeline-row:last-child .timeline-node-container::after {
        display: none;
    }

    .diamond {
        width: 2.5rem;
        height: 2.5rem;
        background-color: var(--gameface-cyan);
        color: var(--gameface-bg-content);
        font-weight: bold;
        font-size: 1.5em;
        display: grid;
        place-items: center;
        transform: rotate(45deg);
        position: relative;
        z-index: 1;
    }

    .diamond > span {
        transform: rotate(-45deg);
    }

    .custom-card-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    @media (max-width: 480px) {
        .timeline-row {
            grid-template-columns: 1fr;
        }
        .timeline-node-container {
            display: none;
        }
    }
</style>

<div class="timeline-wrapper">
    {
        content.map(({ heading, desc, link, current }, index) => {
            return (
                <div class="timeline-row">
                    <div class="timeline-node-container">
                        <div class="diamond">
                            <span>{index + 1}</span>
                        </div>
                    </div>

                    <CourseCard
                        title={heading}
                        link={link}
                        current={current || false}>
                        {desc}
                    </CourseCard>
                </div>
            );
        })
    }
</div>
